Let's collect data, transform a little and look at the description of it

In [36]:
import pandas as pd
import numpy as np

df = pd.read_excel(r'C:\Users\darar\Downloads\cereal.xlsx',header=None)
column_names = {
    0: 'cereal name',
	1: 'manufacturer',
	2: 'type',
	3: 'calories',
	4: 'protein',
	5: 'fat',
	6: 'sodium',
	7: 'dietary fiber',
	8: 'complex carbohydrates',
	9: 'sugars',
	10: 'display shelf',
	11: 'potassium',
	12: 'vitamins and minerals',
	13: 'weight',
	14: 'cups per serving' 
}
name_brands = {'A':'American Home Food Products', 'G':'General Mills', 'K':'Kelloggs', 'N':'Nabisco', 'P':'Post', 'Q':"Quaker Oats", 'R':'Ralston Purina'}

df[1] = df[1].fillna('')
df[2] = df[2].fillna('')
df[0] = df[0] + df[1] + df[2] 
df = df[0].str.split(' ', expand=True)
df.rename(columns={x: column_names[x] for x in column_names if x in df.columns}, inplace=True)
df['manufacturer'] = df['manufacturer'].map(name_brands)	
df = df.astype({x: 'float' for x in df.columns[3:]})
df.describe()

,calories,protein,fat,sodium,dietary fiber,complex carbohydrates,sugars,display shelf,potassium,vitamins and minerals,weight,cups per serving
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,2.207792,96.077922,28.246753,0.977662,0.587273
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,0.832524,71.286813,22.342523,0.358175,0.622659
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,1.000000,-1.000000,0.000000,-1.000000,-1.000000
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,1.000000,40.000000,25.000000,1.000000,0.500000
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,2.000000,90.000000,25.000000,1.000000,0.750000
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,3.000000,120.000000,25.000000,1.000000,1.000000
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,3.000000,330.000000,100.000000,1.500000,1.500000

Some MIN values in measures columns are negative. It can not be possible. To fix it firstly change them to Nan

In [37]:
col_selected_to_nan = [col for col in df.columns if df.dtypes[col] != 'object']
df.loc[:, col_selected_to_nan] = df.loc[:, col_selected_to_nan].applymap(lambda x: x if x >= 0 else np.nan)
df.loc[df.isna().values.any(axis=1),df.isna().values.any(axis=0)]

    complex carbohydrates  sugars  potassium  weight  cups per serving
1                     8.0     8.0      135.0    1.00               NaN
4                    14.0     8.0        NaN    1.00              0.75
20                   21.0     0.0        NaN    1.00              1.00
38                   17.0     6.0       60.0    1.00               NaN
43                   16.0     3.0       95.0    1.00               NaN
44                   16.0    11.0      170.0     NaN               NaN
45                   16.0    11.0      170.0     NaN               NaN
50                   18.0     2.0       90.0    1.00               NaN
55                   10.0     0.0       50.0    0.50               NaN
57                    NaN     NaN      110.0    1.00              0.67
63                   16.0     0.0       95.0    0.83               NaN
68                   15.0     5.0       90.0    1.00               NaN

In addition we have to normalize data because there're different values in ['weight'] and ['cups per serving']. However ['cups per serving'] has more missing values than ['weight'] that's why: 
- delete column ['cups per serving']. It doesn't fit
- delete rows with Nan values in ['weight'] (2 products only) beacause we don't know what the weight it can be

In [38]:
df.drop(['cups per serving'], axis=1, inplace=True)
df.dropna(subset=['weight'], inplace=True)
df.loc[df.isna().values.any(axis=1),df.isna().values.any(axis=0)]

    complex carbohydrates  sugars  potassium
4                    14.0     8.0        NaN
20                   21.0     0.0        NaN
57                    NaN     NaN      110.0

I suppose that it'll be a right way to fill remained NaN with a median across each column, where NaN value exists.

In [39]:
df = df.fillna(df.median())

C:\Users\darar\AppData\Local\Temp\ipykernel_7468\3493596106.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.median())

Now normalize all numeric data, except ['display shelf'], using ['weight] column

In [ ]:
col_selected_to_normalize = [col for col in df.columns if df.dtypes[col] != 'object' and col != 'display shelf']
df.loc[:, col_selected_to_normalize] = df.loc[:, col_selected_to_normalize].div(df['weight'],axis=0)
df.drop(['weight'], axis=1, inplace=True)
df

Now let's put this dataframe into PowerQuery editor then build report in PowerBI. With it we can find best, healthy products, according to given criteria in filter within PBI.

We use DAX measure to give a rank to every variable of a product, depending if increasing of a variable is good or not.
  
For example  
**less ['fat'] - higher RANK**  
DAX_MEASURE = RANKX ( ALL ( Dim_Cereals[Cereal name] ), [sum_fat],, **DESC**, DENSE )  
  
**less ['protein'] - lower RANK**  
DAX_MEASURE = RANKX ( ALL ( Dim_Cereals[Cereal name] ), [sum_protein],, **ASC**, DENSE )  
    
Then sum-up ranks of all selected variables to get OverallRank. The healthiness of product is measured in descending order of DAX measure [rank_overall]
  
see .pbix file  https://github.com/darkarchonful/Tutorial/blob/main/cereal.pbix